.sidebar{
  width: 100%;
  height:90vh;
  background-color: bisque;
  z-index: 1;
}
.sidemodule{
  width: 15%;
  height:93.7vh;
  /* position: fixed; */
  background-color: rgb(77, 76, 76);
  left:0;
  min-width: 280px;
}
.buttonArea{
  padding: 20px  0px  0px  0px;
  /* background-color: aquamarine; */

}

.buttonArea button{
  /* margin-top: 0px; */

  height: 37px;
  width: 100%;
  font-size: 20px;
  color: aliceblue;
  align-items: center; 
  justify-content: center; 
  background: transparent;
  border: none !important;
  
  /* font-size:0; */
}

.buttonArea button img{
  margin-left: 40px;
  /* background-color: aquamarine; */
    padding: 0px  7px  6px  0px;
    position: fixed;
    height:40px;
    width : 33px;
    left: 0;
    align-items: center; 
    justify-content: center; 
  }
.buttonArea button:hover {
  background-color: rgb(178, 126, 250);
  color: white;
  cursor:auto
}

.version{
  color:rgb(252, 251, 251);
  position: fixed;     
  text-align: left;    
  bottom: 30px; 
  width: 100%;   
  padding-left: 100px; 
}

.menu{
  color:white;
  font-size: large;
  text-align: center;
  background-color: rgb(178, 126, 250);
}
/* content */
.content{
  width: 85%;
  min-width: 500px;
  height:93.7vh;
  position: fixed;
  right:0;
  background-color: white;
  display: flex;
  justify-content: center;

}
 .content img{
  width: 300px;
  height: 300px;
  margin-top: 100px;
  /* position: fixed; */
 
 }
 .content h1{
   font-family:Arial, Helvetica, sans-serif;
   font-size: 33px;
   margin-top: 70px;
   text-shadow: 3px 2px rgb(196, 195, 197);
   -webkit-animation: mover 2s infinite  alternate;
   animation: mover 1.8s infinite  alternate;
   min-width: 300px;
  }

@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

.content table{
  margin-top: 500px;
  text-align: center;
  height: 200px;
  width: 500px;
  min-width: 500px;
  position: absolute;
  font-family: arial, sans-serif;
  /* border-style:inset; */

}
.content td, th {
  border-bottom: 2px solid black;
  border-top: 0;
  text-align: center;
  padding: 8px;
}
.content td{
  border-bottom: 1px solid black;
}
 .buttonArea a{
  text-decoration: none;
  color: white;
 }

 .buttonArea a:hover{
  cursor:pointer;
  background-color:rgb(178, 126, 250);
 }

 .price{
  /* border: red solid 1px; */
  margin-top: 630px;
  color: white;
  font-weight: bold;
  font-size: 20px;
 }
 .price p{
  left :0;
  color:  rgb(178, 126, 250);
  font-size: 19px;
 }